*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  position: relative;
  left: 25%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
